body {
    margin-left: 30px;
    background-color: #EAEAEA;
    width: 100vw;
}

.migasPan {
    font-size: 19px;
    font-weight: 700;
    color: #6A6A6A;
    margin-top: 45px;
    margin-bottom: 50px;
}


#contact-info h2, #form-container h2 {
    margin-top: 50px;
    margin-bottom: 40px;
}

#contact-info p, #form-container p {
    margin-left: 10px;
}

main {
    width: 100%;
    display: flex;
    gap: 50px;
}

#contact-info {
    max-width: 60%;
}

#form-container {
    max-width: 40%;
}

a {
    text-decoration: none;
    color: black;
}

