/*  Establece el ancho del viewport y el color de fondo de la página    */
body {
    overflow-x: hidden;
    background-color: #EAEAEA;
}

/*  Separación con la cabecera  */
.breadcrumb {
    margin-top: 30px;
}

/*  Configura el contenedor main con diseño flex, separación entre elementos y márgenes    */
#contenidoPrincipal {
    display: flex;
    gap: 150px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 60px;
    margin-left: 150px;
}

/*  Define el tamaño del texto del encabezado principal dentro de main */
.encabezadoSeccion h2, .tituloFormulario {
    font-family: Roboto;
    font-size: 30px;
    font-weight: bold;
}

/*  Define el tamaño del texto de los párrafos dentro de main y agrega un pequeño 
margen izquierdo y superior a los párrafos dentro de infoContacto para mejorar la alineación */
.telefono, .direccion {
    margin-top: 25px;
    margin-left: 10px;
    font-size: 18px;
}

/*  Estilos generales para los enlaces de los teléfonos, sin subrayado y con color negro  */
.enlaceTelefono {
    color: #000;
    text-decoration: none;
}

/*  Agrega márgenes superior e inferior a los encabezados de las secciones y artículos  */
#infoContacto header, .tituloFormulario {
    margin-top: 45px;
    margin-bottom: 35px;
}

/*  Espaciado entre los iframes y otros elementos */
.mapa {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 10px;
}

/*  Estilos generales del formulario    */
#formulario {
    width: 500px;
    margin: 20px auto;
    padding: 10px;
    padding-bottom: 40px;
    border: 1px solid #ddd;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
    background-color: #DFF4FF;
    border-radius: 5px;
}

/*  Define márgenes superior e inferior para el encabezado del formulario */
#infoFormulario h1 {
    margin-top: 20px;
    margin-bottom: 30px;
}

/*  Estilos de las etiquetas labels  */
#infoFormulario label {
    display: block;
    margin-top: 30px;
    margin-left: 50px;
    margin-bottom: 20px;
    font-family: Roboto;
    font-size: 22px;
    font-weight: bold;
}

/*  Estilos del título dentro del formulario    */
#formulario .tituloFormulario {
    width: 100%;
    margin-top: 15px;
    text-align: center;
}

/*  Estilos de los campos de entrada    */
#infoFormulario input[type="text"], 
#infoFormulario input[type="email"], 
#infoFormulario select, #infoFormulario textarea {
    width: 70%;
    margin-right: 40px;
    margin-bottom: 15px;
    margin-left: 50px;
    padding: 10px;
    border: 1px solid #ddd;
    font-family: 'IBM Plex Mono';
    font-size: 18px;
    border-radius: 4px;
}

#infoFormulario select {
    width: 75%;
}

/*  Agrega un margen inferior extra al área de texto para separarla del botón   */
#infoFormulario textarea {
    margin-bottom: 40px;
}


/*  Estilo para el ancho textarea */
#infoFormulario textarea {
    width: 80%;
}

/*  Estilos del botón de envío   */
#infoFormulario input[type="submit"] {
    display: block;
    margin: 0 auto;
    padding: 15px 65px;
    border: none;
    font-family: Lato;
    font-size: 21px;
    font-weight: bold;
    color: #fff;
    background-color: #005E8C;
    border-radius: 5px;
    cursor: pointer;
}

/*  Efecto al pasar el cursor sobre el botón de envío   */
#infoFormulario input[type="submit"]:hover {
    background-color: #0b587e;
}
