h1 {
    font-size: 24px;
    font-family: Lato;
    font-weight: bolder;
}

h2 {
    font-size: 19px;
    font-family: Roboto;
    font-weight: bold;
}

h3 {
    font-size: 19px;
    font-family: Roboto;
    font-weight: 700;
}

h4 {
    font-size: 17px;
    font-family: Roboto;
    font-weight: 500;
}

h5 {
    font-size: 15px;
    font-family: Source Code Pro;
    font-weight: 300;
}

p {
    font-size: 12px;
    font-family: 'IBM Plex Mono';
}